<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="short cut icon" href="../icono/cartoon-fire-fire-clipart-1497555.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">
    <title>Productos</title>
    <style>
		header nav{color: red;}

		header nav ul li a {color: orange;}
	</style>
</head>
<header class="index__header">
    <nav class="navbar">
        <div><img class="Andes" src="../img/tienda.jpg" alt="LOGO"></div>
        <!-- Seccion de paginas -->
            <ul class="navbar__links">
                <li><a href="../index.html">INICIO</a></li>
                <li><a href="../views/servicios.html">SERVICIOS</a></li>
                <li><a href="../views/productos.html">PRODUCTOS</a></ñ>
                <li><a href="../views/contacto.html">CONTACTO</a></li>
            </ul>
    </nav>
</header>
<body class="pop">
    <h1>Tienda De Deportes</h1>
    <p>Inovacion en productos para entrenamiento intensivo. Nueva calidad de Telas para el uso de estos productos.</p>
    <!-- Productos -->
    <div class="row">
        <div class="contexto__producto">
                <img class="imagen__producto" src="../img/short.jpg" alt="Short">
                <h2 class="product__title">Short Adidas</h2>
                <p class="product__description">
                    De lo mejor en Telas
                </p>
                <button class="gradient-btn2">
                    Mas información
                </button>
        </div>
        <div class="contexto__producto">
                <img class="imagen__producto" src="../img/pelota.jpg" alt="Pelota De Futbol">
                <h2 class="product__title">Pelota Adidas</h2>
                <p class="product__description">
                    Gran balance y duracion del producto.
                </p>
                <button class="gradient-btn2">
                    Mas información
                </button>
       <div class="row">
                   <div class="contexto__producto">
                            <img class="imagen__producto" src="../img/zapatillas.jpg" alt="Short">
                            <h2 class="product__title">Short Adidas</h2>
                            <p class="product__description">
                                Gran comodidad y soporte 
                            </p>
                            <button class="gradient-btn2">
                                Mas información
                            </button>
    </div>
    <p class="texto">Las indumentarias deportivas son escenciales para mejorar el rendimiento en los deportes y optimizar el desempeño de los jugadores
    </p>
</body>
<footer>
    +54 9 264-5849597
    Meglioli y jesuitas M7 C30
</footer>
</html>