<!DOCTYPE html>
<html lang="En">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="short cut icon" href="../icono/cartoon-fire-fire-clipart-1497555.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">
	<title>Servicios</title>
	<style>
		header nav{color: red;}

		header nav ul li a {color: orange;}
	</style>
	<link rel="stylesheet" href="../css/estilo.css">
</head>
<header class="index__header">
    <nav class="navbar">
        <div><img class="Andes" src="../img/tienda.jpg" alt="LOGO"></div>
        <!-- Seccion de paginas -->
            <ul class="navbar__links">
                <li><a href="../index.html">INICIO</a></li>
                <li><a href="../views/servicios.html">SERVICIOS</a></li>
                <li><a href="../views/productos.html">PRODUCTOS</a></ñ>
                <li><a href="../views/contacto.html">CONTACTO</a></li>
            </ul>
    </nav>
</header>
<body class="pop">

	<section>
		<article>
			<!-- inicio tabla -->
			<table border="1px" cellpadding="20px">
				<tr>
					<th>Producto</th>
					<td>Talle</td>
					<td>Precio</td>
				</tr>
				<tr>
					<td>Pelota</td>
					<td>GR7</td>
					<td>6000$</td>
				</tr>
				<tr>
					<td>Short</td>
					<td>XL</td>
					<td>5000$</td>
				</tr>
				<tr>
					<td>Zapatillas</td>
					<td>44</td>
					<td>11000$</td>
				</tr>
			</table>
			<!-- cierre tabla -->
		</article>
	</section>
	<!-- fin contenido -->
	<!-- inicio tabla contenidos -->
	<footer>
		
	</footer>
	<!-- fin footer -->
</body>
</html>