header {
    background-image: url(../../img/ROCKY.png);
    height: 30rem;
    background-position: center center;
    background-size: cover;

}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .navbar__logo {
        width: 15rem;
    }    

    .navbar__links {
        list-style: none;
        border: 12rem;
        border-color: blue;
    
        li {
            display: inline-block;
            margin: 0 5rem;
        }
    
        a {
            text-decoration: none;
            color: white;
        }
        
    }
}